* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: rgb(113, 79, 126);
    width: 100%;
    min-height: 100vh;
}
/* Boton para subir desde abajo para arriba del todo */
.go-up{
	padding:20px;
	background:rgba(248, 237, 227, 0.568);
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
    bottom:20px;
	right:20px;
    z-index: 2;
}

/* ------------------------------- CAROUSEL DE LA PORTADA PRINCIPAL MOVIE ---------------------------------*/
.principal-movie{
    font-size: 16px;
    min-height: 40.62em;
    color:  rgb(248, 237, 227);
    background: url(./img/moonlight-canva-gif1.gif); 
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex; 
    align-items: end;
}
.text-top{
   /*  background-color: rgba(0, 0, 0, 0.219); */
    margin-bottom: 3.12em;
    margin-left: 2.0em;
    margin-right: 2.0em;
}
.text-top h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 6.25em;
    margin-bottom: 0.2em;
} 
.text-top p{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%; 
    margin-bottom: 1.25em;
}
.button-play{
    background-color: rgba(255, 255, 255, 0.178);
    border: none;
    border-radius: 0.31em;
    padding: 0.3em;
    color: white;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}
.button-play:hover{
    background: rgba(0, 0, 0, 0.548);
}

/* ------------ Trailer y Modal Portada ------------ */
.modal-header h1{
    color: white;
}
.trailer-video{
    width: 100%;
}

/* -------------------- SUBTITULO FUERA DE LA PORTADA -------------------*/
.last-launch{
    color: rgb(248, 237, 227);
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
}

/* -------------------- CONTENEDOR DE TITULOS ---------------*/
.container-title h4{
    color: rgb(248, 237, 227);
    font-size: 20px;
}
.indicators button{                 /* estos son los que estan con javascript */
    background: rgb(248, 237, 227);
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

/*------------------------- COMIENZA EL SLIDER DE LAS PELICULAS - CONTENEDOR PRINCIPAL Y FLECHAS ------------------------*/
.main-container{
    width: 95%;
    margin: auto;
    margin-bottom: 70px;
}
.main-container-slider{
    display: flex;
    align-items: center;
    position: relative;
}
.left-arrow, .right-arrow{
    position: absolute;
    border: none;
    background-color: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    width: 50px;
    top: calc(50% - 25%);
    line-height: 40px;
    color: rgb(248, 237, 227);
    cursor: pointer;
    z-index: 1;    /* es para que quede por arriba de las imagenes  */
    transition: .2s ease all;
}
.left-arrow:hover, .right-arrow:hover{
    background-color: rgba(212, 208, 208, 0.322);
}
.left-arrow{
    left: 0;
}
.right-arrow{
    right: 0;
}

/* --------------------- CONTENEDOR DEL SLIDER/CAROUSEL DE PELICULAS ---------------------------*/
.container-slider{
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    scroll-behavior: smooth;     /* para evitar que la pantalla suba para arriba al hacer click en las imagenes */
}
.container-slider2{
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    scroll-behavior: smooth;     /* para evitar que la pantalla suba para arriba al hacer click en las imagenes */
}
.slider{
    display: flex;
    flex-wrap: nowrap;
}
.movies{
    padding: 3px;
    min-width: 20%;
    transition: .2s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    position: relative;
    cursor: pointer;
    /* pointer-events: none; */
}   
.movies img{
    width: 100%;
    vertical-align: top; 
    transition: all 500ms ease-out;
} 
.moviesDescription{
    display: none;
    position: absolute;
    top: 0;
    background: rgba(113, 79, 126, 0.795);
    color: rgb(248, 237, 227);
    min-height: 100vh;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.movies:hover .moviesDescription{
    display: block;
}

/* --------------------------- BOTON DE VER TRAILERS DE CADA PELICULA -------------------------------------------- */
.trailerMovie{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.178);
    text-decoration: none;
    border: none;
    border-radius: 0.31em;
    padding: 0.3em;
    color: rgb(248, 237, 227);
    cursor: pointer;
    pointer-events: visible;
    transition: .3s ease all;
    font-size: 1.12em;
}
.trailerMovie:hover{
    background: rgba(0, 0, 0, 0.548);
    color: rgb(248, 237, 227);    
} 

/* ------------------------- MEDIA QUERIES -----------------------------*/
@media screen and (max-width: 800px) {

    .principal-movie{
        font-size: 8px;
    }
    .text-top p{
        max-width: 90%;
    }
    /* ---- EN VEZ DE HACER RESPONSIVE EL CAROUSEL LO TRANSFORME A UNA GRID CON TODAS LAS OMAGENES DESPLEGADAS */
    .container-slider{
        overflow: visible;
    }
    .slider{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .indicators, .left-arrow, .right-arrow{
        display: none;
    } 
    .moviesDescription{
        font-size: 7px;  
    }
}
@media screen and (max-width: 2000px) {
    .moviesDescription{
        font-size: 18px;      
    }
}
@media screen and (min-width: 2000px) {
    .moviesDescription{
        font-size: 18px;      
    }
}
@media screen and (max-width: 1450px) {
    .moviesDescription{
        font-size: 16px;      
    }
}
@media screen and (max-width: 1300px) {
    .moviesDescription{
        font-size: 12px;      
    }
}
@media screen and (max-width: 1000px) {
    .moviesDescription{
        font-size: 10px;      
    }
}
@media screen and (max-width: 550px) {
    .moviesDescription{
        font-size: 7px;    
    }
    .trailerMovie{
        font-size: 12px;
    }
}
@media screen and (max-width: 400px) {
    .moviesDescription{
        font-size: 5px;    
    }
}
@media screen and (max-width: 300px) {
    .moviesDescription{
        font-size: 3px;    
    }
    .trailerMovie{
        font-size: 12px;
    }
}

/* ----------------------- PAGINA ERROR 404 ---------------------- */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(125, 110, 131)
}
.container404 {
    position: fixed;
    top: 4em;
    width: 100%;
    text-align: center;
}
.container404-img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container404-img img {
    width: 300px;
    display: block;
    -webkit-animation: animates 2s linear infinite alternate;
    animation: animates 2s linear infinite alternate;
}
.container404-img p {
    position: absolute;
    font-size: 5.5rem;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 600;
    top: 9rem;
    color: rgba(255, 255, 255, 0.5);
    -webkit-animation: animatestext 2s linear infinite alternate;
    animation: animatestext 2s linear infinite alternate;
}
.containerDescription p {
    color: rgb(248, 237, 227);
    width: 50%;
    margin: 2em auto;
    font-family: 'Gill Sans', sans-serif;
}
.containerDescription a{
    background-color: rgb(208, 184, 168);
    color: rgb(248, 237, 227);
    font-weight: 600;
    font-family: 'Gill Sans', sans-serif;
    padding: 0.8em 1em;
    border-radius: 50px;
    text-decoration: none;
}
